* {
    box-sizing: border-box;
}


/*Reset css*/

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
artical,
section,
div,
nav,
aside {
    margin: 0px;
    padding: 0px;
}

.thumbnail {
    border: 2px solid #525252;
    padding: 5px;
    border-radius: 5px
}

.thumbnail img {
    width: 100%;
}

.thumbnail.caption h3 {
    font-size: 1em;
}

.thumbnail .caption p {
    font-size: 0.75em;
}

div p {
    background: #ddd;
}
