.item img {
    width: 100%;
}

.jumbotron {
    background-image: url(https://github.com/holden0411/holden0411.github.io/blob/master/project1214guam/image/IMG_7005.jpg?raw=true);
    background-size: cover;
    background-repeat: no-repeat;
}

.container h1 {
    color: #ffffff;
}

p {
    color: white;
}

.thumbnail>img {
    width: 300px;
    height: 350px;
    border-radius: 50%;
}

h1 {
    text-align: left;
}

.item>img {
    max-height: 600px;
    max-width: 600px;
}

.section {
    background-image: url(https://github.com/holden0411/holden0411.github.io/blob/master/project1214guam/image/bg.jpg?raw=true);
    background-size: cover;
    background-repeat: no-repeat;
}
